{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/styles-signin.css' %}">
    <title>Sign in</title>
</head>

<body>
    <header class="showcase">


        <div class="logo">
            <img src="{% static 'logo.png' %}">
        </div>

        <div class="showcase-content">
            <div class="form">
                <form action=" " method="POST">
                    {% csrf_token %}
                    <h1>Sign In</h1>
                    <div class="info">
                        <input type="text" name="username" placeholder="Username" class="bg-gray-200 mb-2 shadow-none  dark:bg-gray-800">
                        <input type="password" name="password" placeholder="Password" class="bg-gray-200 mb-2 shadow-none  dark:bg-gray-800" >
                    </div>
                    <div class="btn">
                        <button class="btn-primary" type="submit">Sign In</button>
                    </div>
                    <div class="help">
                        <div>
                            <input value="true" type="checkbox"><label>Remember me</label>
                        </div>

                        <a href="#">Forgot Password</a>

                    </div>

                </form>

            </div>

            <div class="signup">
                <p>New to Culture Connect ?</p>
                <a href="/signup" >Sign up now</a>
            </div>
        </div>

    </header>


</body>

</html>